// User menu
@import './ColorVariable.scss';

.usermenu-wrap {
  display: flex;
  cursor: pointer;
  align-items: center;
  .usermenu__btn__open {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.3);
    transition: 0.2s;
  }

  &:hover {
    .usermenu__btn__open {
      color: rgba(0, 0, 0, 0.8);
    }
  }
}

// Drop menu

.dropmenu-wrap {
  background-color: white;
  z-index: 3;
  position: absolute;
  right: 0;
  top: 12px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
  border-radius: 4px;

  ul {
    padding: 0;
    text-align: center;
    margin: 0;
    list-style: none;
    margin-top: 12px;

    li {
      cursor: pointer;
      width: 120px;
      padding: 4px 12px;
      margin-bottom: 12px;
      transition: 0.1s;
      font-size: 0.8rem;

      &:hover {
        color: $color-turquoise;
      }
    }
  }
}
